main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

body {
  display: flex;
  flex-direction: column;
}


article {
  flex: 2;
  overflow-y: auto;
}

.name {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  color: red;
}
.now {
  color: red;
}
.not {
  color: black;
}

p
{ color: red;
}

aside {
  flex: 1;
  overflow-y: auto;
}

iframe {
  height: 900px;
  width: 500px;
}